apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ingress.yaml
  - middleware.yaml
  - postgres-cluster.yaml
  - vault/authentik-secrets.yaml
  - vault/postgres-credentials.yaml
